<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:ads="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mab.ucankuslar">

    <uses-sdk tools:overrideLibrary="it.gmariotti.cardslib.library" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bird_icon"
        android:label="Bird Challenge"
        android:theme="@style/GdxTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".AndroidLauncher"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout"
            android:label="Bird Challenge"
            android:screenOrientation="landscape">

            <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="[ca-app-pub-4055756653297968~7811372494]" />

            <meta-data
                android:name="com.google.android.gms.ads.ca-app-pub-4055756653297968~7811372494"
                android:value="true"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>

    </application>

</manifest>